.tahoma-text{
    font-family: tahoma;
    font-weight: bold;
}
.deal-text{
    font-family: arial;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0;
}
.deal-date{
    color: red;
    font-family: arial;
    font-style: italic;
    font: weight 800px;
    font-size: 17px;
    margin-top: 7px;
    margin-bottom: 0;
}
.verdana-text{
    font-family: verdana;
    font-weight: bold;
    font-size: 22px;
    margin-bottom:0;

}
.verdana-stat{
    font-family: verdana;
    color: gray;
    font-size:16px;
    margin-bottom: 0;
    margin-top: 2px;

}
.verdana-desciption{
    font-family: verdana;
    color: rgba(17, 17, 16, 0.911);
    font-size: 17px;
    margin-bottom: 0;
    margin-top: 13px;
    width: 300px;
}
.get-button{
    background-color: green;
    color: white;
    border: none;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    transition: opacity 0.5s,
    background-color 0.5s,margin-top 0.5s,margin-left 0.5s;
    cursor: pointer;
}
.get-button:hover{
    background-color: blue;
   
   
}
.get-button:active{
    background-color: red;
    opacity: 0.5;
    margin-top: 20px;
    margin-left: 10px;
}
.Arial-question{

    color: black;
    font-family: arial;
    font-size: 25px;
    font-weight: bold;
    width: 350px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 8px;
}
.Arial-answer{
    color: black;
    font-family: arial;
    font-size: 15px;
    font-weight: 550;
    width: 370px;
    text-align:center;
    margin-top: 0x;
    margin-bottom: 15px;
}
.Arial-learn{
    color: rgba(30, 30, 117, 0.801);
    font-family: arial;
    font-weight: 550;
    width: 370px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
}
.New-mac{
    color: brown;
    font-family: arial;
    font-weight: bold;
    font-size: 15px;
    width: 350px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.title-mac{
    color: black;
    font-family: arial;
    font-size: 30px;
    font-weight: bold;
    width: 350px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.detail-mac{
    color: black;
    font-family: arial;
    width: 450px;
 
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}
.price-mac{
    color: rgb(15, 15, 15);
    font-family: arial;
    width: 350px;
    text-align: center;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}
.buy-mac{
    background-color: rgb(8, 8, 148);
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 150px;
    cursor: pointer;
    transition:margin-left 0.5s,margin-top 0.5s,background-color 0.5s,color 0.5s;
}
.buy-mac:hover{
    
    margin-left: 160px;
    margin-top: 10px;
    background-color: rgb(163, 9, 9);
    color: rgb(168, 188, 194);
}
.price-title{
    color: black;
    font-family: arial;
    font-size: 30px;
    font-weight: 540;
    margin-top: 0;
    margin-bottom: 5px;
    
}
.price-usd{
    color: gray;
    font-size: 16px;

    
}
.price-inc{
    color: green;
    font-family: arial;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 5px;
}
.time-detail{
    color: gray;
    font-family: arial;
    margin-top: 0;
    margin-bottom: 20px;

}
.price-dec{
    color: rgb(160, 25, 25);
}
.freeCodeCamp{
    color: black;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}
.user-name-codecamp{
    color: gray;
    font-weight: 200;
}
.freeCodeCamp-tweet{
    color: black;
    font-family: arial;
    width: 500px;
    margin-top: 0;
    margin-bottom: 13px;
}
.freeCodeCamp-twet-part{
    color: black;
    font-family: arial;
    margin-top: 0;
    margin-bottom: 0;
}
.freeCodeCamp-link{
    color: blue;
    cursor: pointer;
}
